
head {
  background-color: deeppink;
}

body {
  background-color: deeppink;
}

h1 {
  color: goldenrod
  text-align: center;
}

h2 {
  font-style: italic;
  text-align: left;
}

p{
  font-family: sans-serif;
  font-weight: bold;
}

ul {
  font-size: 20px;
  line-height: 30px;
}

.light-background {
  background-color:whitesmoke;
}

.dark-background {
  background-color: black;
}

.og-background {
  background-color: deeppink;
}

.white-text{
  color: antiquewhite;
}